<form style="display:flex; flex-direction: column; max-width: 300px;gap:10px" action="/new" method="POST">
	<div style="display: flex; flex-direction: column;">
		<label>Name</label>
		<input name="messageAuthor" />
	</div>
	<div style="display:flex;flex-direction: column;">
		<label>Your message</label>
		<input name="messageText" />
	</div>
	<button type="submit">Send message</button>
</form>