<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mini message board</title>
</head>

<body>
	<h1>Mini Message Board</h1>
	<ul>
		<% messages.forEach((message)=> { %>
			<%- include('messages/messages', {message: message}); %>
				<% }); %>
	</ul>
	<%- include('form') %>
</body>

</html>