<!DOCTYPE html>
<html>

<head>
	<title>Message Details</title>
</head>

<body>
	<h1>Message Details</h1>
	<div>
		<p>User: <%= messageDetails.user %>
		</p>
		<p>Message: <%= messageDetails.text %>
		</p>
		<p>Date: <%= messageDetails.added %>
		</p>
	</div>
	<a href="/">Back to Messages</a>
</body>

</html>